* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e2e2e2;
}

.person_list {
  display: grid;
  margin: 20px 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.person {
  border-radius: 10px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 30px 30px 56px #d0d0d0, -30px -30px 56px #f0f0f0;

  text-align: center;
  padding: 20px;
}

.person img {
  border: 0.5px solid teal;
  border-radius: 50%;
  margin-bottom: 5px;
}

h3,
h4 {
  background: transparent;
  color: teal;
  margin-bottom: 5px;
}

@media screen and (max-width: 740px) {
  .person {
    grid-column: 1/4;
    margin: 0 30px;
  }
}

@media screen and (max-width: 860px) {
  .person_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}
