@import "../index.scss";

.tour {
  background: $mainGrey;
  margin: 2rem 0;
  img {
    display: block;
    width: 100%;
    min-height: 13rem;
  }
}

@media screen and (min-width: 768px) {
  .tour {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }
}

.img-container {
  position: relative;
  .close-btn {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    color: $mainGreen;
    font-size: 2rem;
    transition: $mainTransition;
    cursor: pointer;
    opacity: 0;
  }
  &:hover .close-btn {
    opacity: 1;
    transition: $mainTransition;
  }
}

.tour-info-container {
  padding: 1rem 0.5rem;
  h3 {
    text-transform: uppercase;
    color: $mainGreen;
  }
  h4 {
    text-transform: capitalize;
    margin: 0.2rem 0 0.5rem 0;
  }
  h5 {
    text-transform: capitalize;
    font-size: 1rem;
    span {
      color: $mainGreen;
      margin: 0.5rem 0 0 0.1rem;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
